.full {
  background: url(../../img/welcome/features/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* BODY */
.title {
	padding-top: 10%;
}

.add-button {
	padding: 12px 0 50px 0;
}

.input-box {
  background-color: rgba(0,0,0,0);
  border: none;
  border-bottom: 2px solid #888;
  color: #fff;
  margin: 30px 0 0 0;
  height: 50px;
}

.btn-get-consult {
  background: url(../../img/welcome/consult/btn_request.png) no-repeat;
  width: 229px;
  height: 40px;
  border: none;
  margin: 20px 0 0 0;
}
