.full {
  background: url(../../img/welcome/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* BODY */
.title {
	padding-top: 10%;
}

.add-button {
	padding-top: 12px;
}
